*{
  margin: 0;
  padding: 0;
}


/* .flex{
  display: flex;
}
.logo{
  height: 60px;
}*/
.home-page{
  color: white;
  background-image: url('./images/TCF_A3_Poster1\ 1.png');
  background-size: cover;
  height: vh;
}
/* .home-content{
  padding: 150px 200px 150px 0px;
  height: 100%;
} */

/* .photo{
  height: 650px;
  width: 800px;
} */

.card:hover >.card_info{

  transform: translateY(-120px);
  opacity: 1;;
}

button{
  border-radius: 10px;
  box-shadow: inset;
  animation: animateBtn 1s infinite alternate linear;
}

@keyframes animateBtn {
  from{transform: scale(1);}
  to{transform: scale(1.3);}
}